@charset "UTF-8";

/*declarações gerais*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background: black no-repeat;
    background-size: contain;
}

h1 {
    color: white;
    text-shadow: 0px 0px 10px white;
    padding: 10px;
}
/*declarações retrato (portrait)*/
@media screen and (orientation: portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/*declarações paisagem (landscape)*/
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}
