@charset "UTF-8";

/*Estilo para impressora*/

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

header menu,
form {
    display: none;
}

article::after {
    content: 'Este artigo foi impresso através do site www.cursoemvideo.com';
}